@using Fluxor.Blazor.Web.Components

@inherits FluxorComponent

@if (_cachedHtmlElementRecord is not null)
{
    <div class="hfd_dialog-display"
     style="@_cachedHtmlElementRecord.DimensionsRecord.BuildCssStyleString()">

        <div class="hfd_dialog-display-title hfd_unselectable"
         @onmousedown="FireSubscribeToDragEventWithMoveHandle">
            <div class="hfd_dialog-display-title-content">
                @DialogRecord.DialogRecordDisplayName
                <HunterFreemanDev.RazorClassLibrary.Html.RenderCounter RenderCount="_renderCount" />
            </div>

            <div class="hfd_dialog-display-title-control-buttons">
                <div class="hfd_dialog-display-title-control-button-wrapper"
                 @onclick="MinimizeDialogOnClick"
                 @onclick:stopPropagation="true"
                 @onmousedown:stopPropagation="true">
                    <IconChromeMinimize />
                </div>
                <div class="hfd_dialog-display-title-control-button-wrapper">
                    <IconChromeMaximize />
                </div>
                <div class="hfd_dialog-display-title-control-button-wrapper"
                 @onclick="CloseDialogOnClick"
                 @onclick:stopPropagation="true"
                 @onmousedown:stopPropagation="true">
                    <IconChromeClose />
                </div>
            </div>
        </div>

        <HunterFreemanDev.RazorClassLibrary.Transformative.TransformativeDisplay HtmlElementRecord="_cachedHtmlElementRecord"
                                                                             @ref="_transformativeDisplay" />

        <div class="hfd_dialog-display-body">
            <CascadingValue Name="CompleteDialogInteractionEventCallback" Value="CompleteDialogInteractionEventCallback">
                <DynamicComponent Type="DialogRecord.RenderedContentType"
                              Parameters="DialogRecord.RenderedContentParameters" />
            </CascadingValue>
        </div>
    </div>
}
