@using Fluxor.Blazor.Web.Components

@inherits FluxorComponent

<div class="hfd_dialog-map-display">
    @foreach(var dialogRecord in DialogStates.Value.DialogRecordMap.Values)
    {
        <DialogDisplay DialogRecord="dialogRecord" />
    }
</div>
