<div class="hfd_dialog-task-entry-display">
     <div class="hfd_dialog-task-entry-display-title"
          @onclick="ToggleIsMinizedDialogOnClick">
         @DialogRecord.DialogRecordId
     </div>
     <div class="hfd_dialog-task-entry-display-close-button"
          @onclick="CloseDialogOnClick">
         <IconChromeClose />
     </div>
</div>