<div class="hfd_dialog-display"
     style="@DialogRecord.DimensionsRecord.BuildCssStyleString()">

     <div class="hfd_dialog-display-title"
          @onmousedown="FireSubscribeToDragEventWithMoveHandle">
          <div class="hfd_dialog-display-title-content">
              Test Movement Handle by dragging this
          </div>
          
          <div class="hfd_dialog-display-title-control-buttons">
              <div class="hfd_dialog-display-title-control-button-wrapper"
                   @onclick="MinimizeDialogOnClick"
                   @onclick:stopPropagation="true"
                   @onmousedown:stopPropagation="true">
                  <IconChromeMinimize />
              </div>
              <div class="hfd_dialog-display-title-control-button-wrapper">
                  <IconChromeMaximize />
              </div>
              <div class="hfd_dialog-display-title-control-button-wrapper"
                   @onclick="CloseDialogOnClick"
                   @onclick:stopPropagation="true"
                   @onmousedown:stopPropagation="true">
                  <IconChromeClose />
              </div>
          </div>
     </div>

     <HunterFreemanDev.RazorClassLibrary.Transformative.TransformativeDisplay DimensionsRecord="DialogRecord.DimensionsRecord"
                                                                              OnDimensionsRecordChangedEventCallback="OnDimensionsRecordChangedEventCallback"
                                                                              @ref="_transformativeDisplay" />

    <DynamicComponent Type="DialogRecord.RenderedContentType" />
</div>