<div class="hfd_dialog-display"
     style="@DialogRecord.DimensionsRecord.BuildCssStyleString()">
     
     <HunterFreemanDev.RazorClassLibrary.Transformative.TransformativeDisplay DimensionsRecord="DialogRecord.DimensionsRecord"
                                                                              OnDimensionsRecordChangedEventCallback="OnDimensionsRecordChangedEventCallback"/>

    <DynamicComponent Type="DialogRecord.RenderedContentType" />
</div>