@using Fluxor.Blazor.Web.Components

@inherits FluxorComponent

<ButtonDisplay OnClickEventCallback="DispatchIncrementCounterAction">
    <div class="hfd_counter-display">
        Count: @CounterState.Value.Count
    </div>
</ButtonDisplay>