@using Fluxor.Blazor.Web.Components

@inherits FluxorComponent

<select @onchange="OnSelectChangedEvent">
    @foreach(var themeRecord in ThemesProvider.Value.ThemeRecords)
    {
        <option value="@themeRecord">@themeRecord</option>
    }
</select>

