<div class="hfd_rich-error-display">
    <div class="hfd_rich-error-display-error">
        ERROR: @RichErrorModel.Message
    </div>
    <div class="hfd_rich-error-display-hint">
        HINT: @RichErrorModel.Hint
    </div>
</div>