<div class="hfd_debug-css-class-display @GetIsActiveCssClass()"
     @onclick="DispatchSetIsEnabledDebugCssClassRecordAction">
    <div class="hfd_debug-css-class-display-display-name">
        Display name: @DebugCssClassRecord.DisplayName (@GetIsActiveDisplayText())
    </div>

    <div class="hfd_debug-css-class-display-body">
        Css class: @DebugCssClassRecord.CssClassString
    </div>
</div>