<div class="hfd_tree-view-display">
    <TreeViewTitleDisplay Title="@DefaultFileTreeViewRecord.Data.GetAbsoluteFilePathString()" 
                          SetActiveTreeViewRecordAction="() =>  SetActiveTreeViewRecordAction(DefaultFileTreeViewRecord)"
                          Classes="@IsActiveTreeViewRecordCss" />
    
    <TreeViewExpansionButtonsDisplay IsExpanded="DefaultFileTreeViewRecord.IsExpanded"
                                     OnToggleIsExpandedEventCallback="OnToggleIsExpandedEventCallback" />

    @if (DefaultFileTreeViewRecord.GetChildTreeViewRecords.Any())
    {
        <FileTreeViewChildrenDisplay ChildFileTreeViewRecordBases="DefaultFileTreeViewRecord.GetChildTreeViewRecords"
                                     RichErrorModel="DefaultFileTreeViewRecord.RichErrorModel" />
    }
</div>
