<div class="hfd_tree-view-display">
    @if (DefaultFileTreeViewRecord.CanHaveChildren)
    {
        <TreeViewExpansionButtonsDisplay IsExpanded="DefaultFileTreeViewRecord.IsExpanded"
                                     OnToggleIsExpandedEventCallback="OnToggleIsExpandedEventCallback" />
    }
    else
    {
        <span class="hfd_invisible-padding hfd_unselectable">
            <IconStarFull />
        </span>
    }

    <TreeViewTitleDisplay Title="@DefaultFileTreeViewRecord.Data.GetFilenameWithExtension"
                          SetActiveTreeViewRecordAction="() =>  SetActiveTreeViewRecordAction(DefaultFileTreeViewRecord)"
                          DefaultFileOnDoubleClick="FireDefaultFileOnDoubleClick"
                          Classes="@IsActiveTreeViewRecordCss" />

    @if (DefaultFileTreeViewRecord.GetChildTreeViewRecords.Any())
    {
        <FileTreeViewChildrenDisplay ChildFileTreeViewRecordBases="DefaultFileTreeViewRecord.GetChildTreeViewRecords"
                                 RichErrorModel="DefaultFileTreeViewRecord.RichErrorModel" />
    }
</div>
