<div class="hfd_tree-view-display">
    <TreeViewExpansionButtonsDisplay IsExpanded="DirectoryFileTreeViewRecord.IsExpanded"
                                     OnToggleIsExpandedEventCallback="OnToggleIsExpandedEventCallback" />

    <TreeViewTitleDisplay Title="@DirectoryFileTreeViewRecord.Data.GetAbsoluteFilePathString()"
                          SetActiveTreeViewRecordAction="() =>  SetActiveTreeViewRecordAction(DirectoryFileTreeViewRecord)"
                          Classes="@IsActiveTreeViewRecordCss" />

    @if (DirectoryFileTreeViewRecord.IsExpanded)
    {
        <FileTreeViewChildrenDisplay ChildFileTreeViewRecordBases="DirectoryFileTreeViewRecord.GetChildTreeViewRecords"
                                     RichErrorModel="DirectoryFileTreeViewRecord.RichErrorModel" />
    }
</div>