<div class="hfd_tree-view-display">
    <TreeViewTitleDisplay Title="@DirectoryFileTreeViewRecord.Data.GetAbsoluteFilePathString()"
                          SetActiveTreeViewRecordAction="() =>  SetActiveTreeViewRecordAction(DirectoryFileTreeViewRecord)"
                          Classes="@IsActiveTreeViewRecordCss" />

    <TreeViewExpansionButtonsDisplay IsExpanded="DirectoryFileTreeViewRecord.IsExpanded"
                                     OnToggleIsExpandedEventCallback="OnToggleIsExpandedEventCallback" />

    <FileTreeViewChildrenDisplay ChildFileTreeViewRecordBases="DirectoryFileTreeViewRecord.GetChildTreeViewRecords"
                                 RichErrorModel="DirectoryFileTreeViewRecord.RichErrorModel" />
</div>