<div class="hfd_tree-view-expansion-buttons-display"
     @onclick="FireOnToggleIsExpandedEventCallback">

    @if(!IsExpanded)
    {
        <IconChevronRight />
    }
    else
    {
        <IconChevronDown />
    }
</div>