@using Fluxor.Blazor.Web.Components

@inherits FluxorComponent

<div class="hfd_toolbar-display">
    <div class="hfd_toolbar-display-row hfd_toolbar-display-row-main">
        @foreach(var toolbarRecord in ToolbarState.Value.MainRowToolbarRecordMap.Values)
        {
            <ToolbarItemDisplay ToolbarRecord="toolbarRecord" />
        }
    </div>

    <div class="hfd_toolbar-display-row hfd_toolbar-display-row-secondary">
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
        Alpjhaebeta
    </div>
</div>