@using HunterFreemanDev.ClassLibrary.Element
@using HunterFreemanDev.ClassLibrary.Toolbar

<div class="hfd_toolbar-item-display">
    <DynamicComponent Type="ToolbarRecord.RenderedContentType" />
</div>