<span class="hfd_text-syntax-record-display hfd_plain-text-syntax-record-display">
    @{
        var plainTextContent = PlainTextSyntaxRecord.ToPlainText;

        for (int i = 0; i < plainTextContent.Length; i++)
        {
            int characterIndex = i;

            <CharacterDisplay HtmlCharacter="@plainTextContent[characterIndex].ToString()"
                              DisplayCursor="@ShouldDisplayCursor(characterIndex)" />
        }
    }
</span>