<span class="hfd_text-syntax-record-display hfd_start-of-row-text-syntax-record-display">

    <CharacterDisplay HtmlCharacter="@string.Empty"
                      DisplayCursor="CurrentTextSyntaxRecordId == StartOfRowTextSyntaxRecord.TextSyntaxRecordId" />
</span>