@using HunterFreemanDev.ClassLibrary.PlainTextEditor

<span class="hfd_text-syntax-record-display">
    @switch(TextSyntaxRecord.TextSyntaxRecordKind)
    {
        case TextSyntaxRecordKind.StartOfRowText:
            <StartOfRowTextSyntaxRecordDisplay StartOfRowTextSyntaxRecord="(StartOfRowTextSyntaxRecord) TextSyntaxRecord"
                                               CurrentTextSyntaxRecordId="CurrentTextSyntaxRecordId" />
            break;
        case TextSyntaxRecordKind.PlainText:
            <PlainTextSyntaxRecordDisplay PlainTextSyntaxRecord="(PlainTextSyntaxRecord) TextSyntaxRecord"
                                          CurrentTextSyntaxRecordId="CurrentTextSyntaxRecordId"/>
            break;
        case TextSyntaxRecordKind.WhitespaceText:
            <WhitespaceTextSyntaxRecordDisplay WhitespaceTextSyntaxRecord="(WhitespaceTextSyntaxRecord) TextSyntaxRecord"
                                               CurrentTextSyntaxRecordId="CurrentTextSyntaxRecordId"/>
            break;
    }
</span>