@using HunterFreemanDev.ClassLibrary.PlainTextEditor

<div class="hfd_text-syntax-record-display">
    @switch(TextSyntaxRecord.TextSyntaxRecordKind)
    {
        case TextSyntaxRecordKind.StartOfRowText:
            <StartOfRowTextSyntaxRecordDisplay StartOfRowTextSyntaxRecord="(StartOfRowTextSyntaxRecord) TextSyntaxRecord" />
            break;
        case TextSyntaxRecordKind.PlainText:
            <PlainTextSyntaxRecordDisplay PlainTextSyntaxRecord="(PlainTextSyntaxRecord) TextSyntaxRecord" />
            break;
        case TextSyntaxRecordKind.WhitespaceText:
            <WhitespaceTextSyntaxRecordDisplay WhitespaceTextSyntaxRecord="(WhitespaceTextSyntaxRecord) TextSyntaxRecord" />
            break;
    }
</div>