@using HunterFreemanDev.ClassLibrary.Html

<span class="hfd_text-syntax-record-display hfd_whitespace-text-syntax-record-display">
    <CharacterDisplay HtmlCharacter="@WhitespaceTextSyntaxRecord.ToPlainText.EscapeHtml()"
                      DisplayCursor="CurrentTextSyntaxRecordId == WhitespaceTextSyntaxRecord.TextSyntaxRecordId" />
</span>