<div>
    <ButtonDisplay OnClickEventCallback="DispatchRegisterDialogAction"
                   ColorKind="ClassLibrary.Theme.ColorKind.Primary">
        Choose Workspace Directory
    </ButtonDisplay>
</div>