<div class="hfd_input-file-dialog-display">
    <CascadingValue Name="SetActiveTreeViewRecordAction" Value="SetActiveTreeViewRecordAction">
        <CascadingValue Name="ActiveTreeViewRecord" Value="_activeTreeViewRecord">
            <HunterFreemanDev.RazorClassLibrary.TreeView.DirectoryFileTreeViewDisplay DirectoryFileTreeViewRecord="_rootDirectoryFileTreeViewRecord" />
        </CascadingValue>
    </CascadingValue>
</div>