<div class="hfd_button-display hfd_unselectable @(Class ?? string.Empty) @ColorKindCssClassString"
     @onclick="FireOnClickEventCallback"
     title="@(Title ?? string.Empty)">
     
     @ChildContent
</div>