.hfd_debug-global .hfd_drag-event-provider-display {
    background-color: orchid;
    opacity: 0.5;
}

.hfd_debug-plain-text-editor .hfd_plain-text-editor-display {
}

.hfd_debug-colored-start-of-row-text-syntax-record-displays .hfd_start-of-row-text-syntax-record-display {
    background-color: yellow;
    min-width: 1em;
    min-height: 1ch;
    display: inline-flex;
    justify-content: end;
}

.hfd_debug-colored-plain-text-syntax-record-displays .hfd_plain-text-syntax-record-display {
    background-color: aquamarine;
}

.hfd_debug-colored-whitespace-text-syntax-record-displays .hfd_whitespace-text-syntax-record-display {
    background-color: orange;
}