@using HunterFreemanDev.ClassLibrary.Element

<div class="hfd_grid-column-display"
     style="@GetStyle">
    <GridAddColumnButtons AddWindowEventCallback="OnAddWindowEventCallback" />

    @if (ElementRecord.RenderedContentType != typeof(UninitializedElementRecord))
    {
        <DynamicComponent Type="ElementRecord.RenderedContentType"/>
    }
    else
    {
        <GridUninitializedElementRecordDisplay ElementRecord="ElementRecord" />
    }
</div>