<div class="hfd_grid-column-display-add-column-buttons">
    <div class="hfd_grid-column-display-add-column-button-row">
        <span class="hfd_grid-column-display-add-column-button-item">
            A
        </span>
        <span class="hfd_grid-column-display-add-column-button-item">
            B
        </span>
        <span class="hfd_grid-column-display-add-column-button-item">
            C
        </span>
    </div>
    <div class="hfd_grid-column-display-add-column-button-row">
        <span class="hfd_grid-column-display-add-column-button-item">
            D
        </span>
        <span class="hfd_grid-column-display-add-column-button-item">
            E
        </span>
        <span class="hfd_grid-column-display-add-column-button-item">
            F
        </span>
    </div>
    <div class="hfd_grid-column-display-add-column-button-row">
        <span class="hfd_grid-column-display-add-column-button-item">
            G
        </span>
        <span class="hfd_grid-column-display-add-column-button-item">
            H
        </span>
        <span class="hfd_grid-column-display-add-column-button-item">
            I
        </span>
    </div>
</div>