@using HunterFreemanDev.ClassLibrary.Element
@using HunterFreemanDev.ClassLibrary.Direction

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="hfd_grid-display">
    @if (GridState.Value.GridRecords.Count == 0)
    {
        <GridIsEmptyDisplay AddWindowEventCallback="((_) => OnAddWindowEventCallback((CardinalDirectionKind.North, 0, 0)))" />
    }
    else
    {
        List<GridRecord> previousRow = null;

        for (int i = 0; i < GridState.Value.GridRecords.Count; i++)
        {
            @* Storing a local copy of the for loop iteration variable is required in Blazor *@
            var rowIndex = i;
            var currentRow = GridState.Value.GridRecords[rowIndex];

            @if(previousRow is not null)
            {
                <GridRowDividerDisplay />
            }

            <GridRowDisplay GridRowIndex="rowIndex"
                            GridTotalRowCount="GridState.Value.GridRecords.Count"
                            GridRowElementReferences="currentRow"
                            AddWindowEventCallback="OnAddWindowEventCallback" />

            previousRow = currentRow;
        }
    }
</div>