@using HunterFreemanDev.ClassLibrary.Element
@using HunterFreemanDev.ClassLibrary.Store.Grid

<div class="hfd_grid-row-display"
     style="@GetStyle">
    @{
        ElementRecord? previousColumn = null;

        for (int i = 0; i < GridRowElementReferences.Count; i++)
        {
            @* Storing a local copy of the for loop iteration variable is required in Blazor *@
            var columnIndex = i;
            var currentColumn = GridRowElementReferences[columnIndex];

            @if(previousColumn is not null)
            {
                <GridColumnDividerDisplay LeftElementRecord="previousColumn"
                                          RightElementRecord="currentColumn" />
            }

            <GridColumnDisplay GridColumnIndex="columnIndex"
                               GridTotalColumnCount="GridRowElementReferences.Count"
                               ElementRecord="currentColumn"
                               AddWindowEventCallback="OnAddWindowEventCallback" />

            previousColumn = currentColumn;
        }
    }
</div>