@using HunterFreemanDev.ClassLibrary.Element

<div class="hfd_grid-column-display">
    <GridAddColumnButtons />

    @if (ElementRecord.RenderedType != typeof(UninitializedElementRecord))
    {
        <DynamicComponent Type="ElementRecord.RenderedType"/>
    }
</div>