@using HunterFreemanDev.ClassLibrary.Element

<div class="hfd_grid-column-display">
    <GridAddColumnButtons AddWindowEventCallback="OnAddWindowEventCallback" />

    @if (ElementRecord.RenderedType != typeof(UninitializedElementRecord))
    {
        <DynamicComponent Type="ElementRecord.RenderedType"/>
    }
    else
    {
        <GridUninitializedElementRecordDisplay ElementRecord="ElementRecord" />
    }
</div>