@using HunterFreemanDev.ClassLibrary.Grid
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@if (_cachedHtmlElementRecord is not null)
{
    <div class="hfd_grid-row-display"
         style="@_cachedHtmlElementRecord.DimensionsRecord.BuildCssStyleString()">
        @{
            GridItemRecord? previousGridItemRecord = null;

            for (int j = 0; j < GridRowRecord.GridItemRecords.Length; j++)
            {
                var gridItemRecordIndex = j;
                var gridItemRecord = GridRowRecord.GridItemRecords[gridItemRecordIndex];

                if (previousGridItemRecord is not null)
                {
                    <GridItemDividerDisplay/>
                }

                <CascadingValue Name="ActiveRowIndex" Value="RowIndex">
                    <CascadingValue Name="ActiveGridItemRecordIndex" Value="gridItemRecordIndex">
                        <CascadingValue Name="TotalGridItemCountInRow" Value="GridRowRecord.GridItemRecords.Length">
                            <GridItemDisplay @key="gridItemRecord.GridItemRecordKey"
                                             GridItemRecord="gridItemRecord"/>
                        </CascadingValue>
                    </CascadingValue>
                </CascadingValue>

                previousGridItemRecord = gridItemRecord;
            }
        }
    </div>
}