@using HunterFreemanDev.ClassLibrary.Element

<div class="hfd_grid-column-display"
     style="@GetStyle">
    <GridAddColumnButtons AddWindowEventCallback="OnAddWindowEventCallback" />

    <CascadingValue Value="GridRecord">
        <DynamicComponent Type="GridRecord.RenderedContentType"
                            Parameters="GetDynamicComponentParameters()"/>
    </CascadingValue>
</div>