<div class="hfd_grid-tab-display hfd_grid-add-tab-display"
     @onclick="DispatchAddGridTabAction"
     @onclick:stopPropagation>

    <span class="hfd_grid-tab-display-display-name">
        <IconAdd />
    </span>
</div>