<div class="hfd_grid-add-tab-form-display">
    <GridButtonsDisplay CardinalDirectionKindSelectedEventCallback="OnCardinalDirectionKindSelectedEventCallback"
                           SelectedCardinalDirectionKind="_selectedCardinalDirectionKind" />

    <CascadingValue Name="@GridDisplay.ON_CHOSE_GRID_TAB_RECORD_ACTION_PARAMETER_NAME" Value="OnTypeToRenderSelectedAction">
        @EmptyGridTabContainerRenderFragment
    </CascadingValue>
</div>