<div class="hfd_grid-column-display-add-column-buttons">
    <div class="hfd_grid-column-display-add-column-button-row">
        <span class="hfd_grid-column-display-add-column-button-item hfd_grid-column-display-add-column-button-item-north-west">
            A
        </span>
        <span class="hfd_grid-column-display-add-column-button-item hfd_grid-column-display-add-column-button-item-north"
              @onclick="(() => FireCardinalDirectionKind(ClassLibrary.Direction.CardinalDirectionKind.North))">
            B
        </span>
        <span class="hfd_grid-column-display-add-column-button-item hfd_grid-column-display-add-column-button-item-north-east">
            C
        </span>
    </div>
    <div class="hfd_grid-column-display-add-column-button-row">
        <span class="hfd_grid-column-display-add-column-button-item hfd_grid-column-display-add-column-button-item-west"
              @onclick="(() => FireCardinalDirectionKind(ClassLibrary.Direction.CardinalDirectionKind.West))">
            D
        </span>
        <span class="hfd_grid-column-display-add-column-button-item hfd_grid-column-display-add-column-button-item-center">
            E
        </span>
        <span class="hfd_grid-column-display-add-column-button-item hfd_grid-column-display-add-column-button-item-east"
              @onclick="(() => FireCardinalDirectionKind(ClassLibrary.Direction.CardinalDirectionKind.East))">
            F
        </span>
    </div>
    <div class="hfd_grid-column-display-add-column-button-row">
        <span class="hfd_grid-column-display-add-column-button-item hfd_grid-column-display-add-column-button-item-south-west">
            G
        </span>
        <span class="hfd_grid-column-display-add-column-button-item hfd_grid-column-display-add-column-button-item-south"
              @onclick="(() => FireCardinalDirectionKind(ClassLibrary.Direction.CardinalDirectionKind.South))">
            H
        </span>
        <span class="hfd_grid-column-display-add-column-button-item hfd_grid-column-display-add-column-button-item-south-east">
            I
        </span>
    </div>
</div>