@using HunterFreemanDev.ClassLibrary.TreeView
<div class="hfd_folder-explorer-display">
    @if (_workspaceAbsoluteFilePath is null && _onFileSelectedRichErrorModel is null)
    {
        <div>_workspaceAbsoluteFilePath is null please select a directory</div>

        <HunterFreemanDev.RazorClassLibrary.InputFile.InputFileDialogEntryPointDisplay OnFileSelectedAction="OnFileSelected"/>
    }
    else if(_workspaceAbsoluteFilePath?.IsDirectory ?? false)
    {
        <div class="hfd_folder-explorer-display-tree-view">
            <CascadingValue Name="SetActiveTreeViewRecordAction" Value="SetActiveTreeViewRecordAction">
                <CascadingValue Name="DefaultFileOnDoubleClick" Value="DefaultFileOnDoubleClick">
                    <CascadingValue Name="ActiveTreeViewRecord" Value="_activeTreeViewRecord">
                        <HunterFreemanDev.RazorClassLibrary.TreeView.DirectoryFileTreeViewDisplay DirectoryFileTreeViewRecord="_workspaceTreeView" />
                    </CascadingValue>
                </CascadingValue>
            </CascadingValue>
        </div>
    }
    else if (_onFileSelectedRichErrorModel is not null)
    {
        <RichErrorDisplay RichErrorModel="_onFileSelectedRichErrorModel" />

        <HunterFreemanDev.RazorClassLibrary.InputFile.InputFileDialogEntryPointDisplay OnFileSelectedAction="OnFileSelected"/>
    }
</div>