<div class="hfd_folder-explorer">
    @if (_workspaceAbsoluteFilePath is null)
    {
        <div>_workspaceAbsoluteFilePath is null please select a directory</div>

        <HunterFreemanDev.RazorClassLibrary.InputFile.InputFileDialogEntryPointDisplay OnFileSelectedAction="OnFileSelected"/>
    }
    else
    {
        <div>_workspaceAbsoluteFilePath: @_workspaceAbsoluteFilePath.GetAbsoluteFilePathString()</div>
    }
</div>