@inherits LayoutComponentBase

<div class="hfd_document-layout-display">
    <Fluxor.Blazor.Web.StoreInitializer/>

    <HunterFreemanDev.RazorClassLibrary.DebugCssClasses.DebugCssClassProviderDisplay>
        <HunterFreemanDev.RazorClassLibrary.Dialog.DialogMapDisplay />

        <HunterFreemanDev.RazorClassLibrary.Toolbar.ToolbarDisplay />

        <HunterFreemanDev.RazorClassLibrary.Grid.GridDisplay />
    </HunterFreemanDev.RazorClassLibrary.DebugCssClasses.DebugCssClassProviderDisplay>
</div>