@using Fluxor.Blazor.Web.Components

@inherits FluxorLayout

<div class="hfd_document-layout-display @ThemeState.Value.ThemeRecord.ThemeCssClassName @GetDebugCssClasses()">
    <div class="hfd_theme-wrapping">
        <Fluxor.Blazor.Web.StoreInitializer />

        <HunterFreemanDev.RazorClassLibrary.Drag.DragEventProviderDisplay />

        <HunterFreemanDev.RazorClassLibrary.KeyDownEvent.KeyDownEventProviderDisplay />

        <HunterFreemanDev.RazorClassLibrary.Dialog.DialogMapDisplay />

        <HunterFreemanDev.RazorClassLibrary.Toolbar.ToolbarDisplay />

        <div class="hfd_document-layout-display-body">
            <HunterFreemanDev.RazorClassLibrary.Grid.GridDisplay GridRecord="_gridRecord">
                <ChooseGridTabRecordRenderFragment>
                    <HunterFreemanDev.RazorClassLibrary.AddWindowToGrid.AddWindowToGridSelectorDisplay />
                </ChooseGridTabRecordRenderFragment>
            </HunterFreemanDev.RazorClassLibrary.Grid.GridDisplay>
        </div>

        <HunterFreemanDev.RazorClassLibrary.Dialog.DialogTaskBarDisplay />
    </div>
</div>